
.navbar {
    overflow: hidden;
    background-color:rgb(118, 85, 85);
    color: white; 
    position: fixed; 
    top: 0;
    width: 100%;

}

.navbar li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

}

.logout-btn {
    float: right;
    background-color:antiquewhite;
    padding: 12px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight:bold;
    margin-right: 20px;
    /* padding-right: 10px; */
    
}

.add-btn {
    float: left;
    border: none;
    background-color:rgb(35, 132, 35);
    color: white;
    padding: 5px 73px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
}

.del-btn {
    float: left;
    border: none;
    background-color:rgb(174, 37, 19);
    color: white;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 20px;
}

.ed-btn {
    float: left;
    border: none;
    background-color:rgb(118, 85, 85);
    color: white;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 15px;
}

.sav-btn {
    float: left;
    border: none;
    background-color:yellow;
    color: black;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
}

.cxl-btn {
    float: left;
    border: none;
    background-color:gray;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 5px;
}

.navbar a {
    float: left;
    display: flex; 
    content: flex; 
    color: white;
    text-align: center;
    padding: 14px 14px; 
    text-decoration: none; 
}

.navbar a:hover {
    background: whitesmoke;
    color:rgb(41, 31, 31)
}

a:hover {
    color:red; 
} 

.button-1 {
    border: rgb(118, 85, 85);
    background-color: whitesmoke;


}

.map-container {
    position: relative;
    float: right; 

}

.main {
    margin-top: 30px; 
}

a:active {
    color: purple;
}

body {
    background-color:#f3e9e9;
    color:#395558;
    font-family:Arial,Helvetica, sans-serif;
    font-size:large;
    font-weight:normal;
    line-height:30px;
    margin:0; 
}

.container {
    width: 80%;
    margin: auto;
}

.button {
    background-color: crimson;
    color: #395558;
    padding: 10px 25px;
    border: 1px;
    border-color: rgb(79, 19, 19);
}

.button:hover {
    background: orange; 
    color: white;
}

.title-1 {
    display: inline;
}

.container-1 {
    font-size:large;
    background-color: rgb(233, 217, 217);
    color: #395558;
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    padding-top: 8%;
    margin: 20px;
    text-align: left; 
    width: 750%;
    display: column; 
    column-gap: 10px;
     /* flex-direction: column;  */
} 
.box-1 h3{
    font-family:Tahoma;
    font-weight: 800;
    font-style:italic;
    text-decoration:underline; 
    text-transform:uppercase;
    letter-spacing:0.2em;
    word-spacing:1em;
    padding-top: 10%;
    column-gap: 10px;

}

.box-1 {
    font-size:large;
    background-color: rgb(233, 217, 217);
    color: #395558;
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    margin: 20px;
    width: 188px;
}


.box-2 {
    background-color:  rgb(233, 217, 217);
    color: rgb(41, 31, 31);
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    margin: 20px;
    text-align:center;
}


.box-3 {
    background-color: rgb(233, 217, 217);
    color: #395558;
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    margin: 20px;
    text-align: left; 
    display: flex; 
}



