
.navbar {
    overflow: hidden;
    background-color:rgb(118, 85, 85);
    color: white; 
    position: fixed; 
    top: 0;
    width: 100%;

}

.navbar li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

}

.button-1 {
    border: rgb(118, 85, 85);
    background-color: whitesmoke;
}

.button:hover {
    background: orange; 
    color: white;
}

.login-btn {
    float: left;
    border-radius: 4px;
    background-color:antiquewhite;
    color: black;
    padding: 5px 62px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.reg-btn {
    float: left;
    border-radius: 4px;
    background-color:rgb(118, 85, 85);
    color: white;
    padding: 5px 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 25px;
}


.logout-btn {
    float: right;
    border-radius: 5px;
    background-color:antiquewhite;
    padding: 12px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight:bold;
    margin-right: 20px;
    /* padding-right: 10px; */
    
}

.add-btn {
    float: left;
    border: none;
    border-radius: 4px;
    background-color:rgb(35, 132, 35);
    color: white;
    padding: 5px 73px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
}

.del-btn {
    float: left;
    border: none;
    border-radius: 4px;
    background-color:rgb(174, 37, 19);
    color: white;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 20px;
}

.ed-btn {
    float: left;
    border: none;
    border-radius: 4px;
    background-color:rgb(118, 85, 85);
    color: white;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 15px;
}

.sav-btn {
    float: left;
    border: none;
    border-radius: 4px;
    background-color:yellow;
    color: black;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 11px;
}

.cxl-btn {
    float: left;
    border: none;
    border-radius: 4px;
    background-color:gray;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 5px; 
    margin-left: 30px;
}

.navbar a {
    float: left;
    display: flex; 
    content: flex; 
    color: white;
    text-align: center;
    padding: 14px 14px; 
    text-decoration: none; 
}

.navbar a:hover {
    background: whitesmoke;
    color:rgb(41, 31, 31)
}

a:hover {
    color:red; 
} 


.map-container {
    position: relative;
    float: right; 
    margin: 20px;

}

.main {
    margin-top: 30px; 
}

a:active {
    color: purple;
}

body {
    background-color:#f3e9e9;
    color:#395558;
    font-family:Arial,Helvetica, sans-serif;
    font-size:large;
    font-weight:normal;
    line-height:30px;
    margin:0; 
}

.login-logo {
    font-size: 55px;
    color: rgb(99, 37, 37);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic; 
}

.reg-logo {
    font-size: 55px;
    color: rgb(99, 37, 37);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic; 
}

.login-desc {
    font-size: 25px;
    color: rgb(99, 37, 37);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic bold; 
}

.reg-desc {
    font-size: 25px;
    color: rgb(99, 37, 37);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic bold; 
}

.login-box {
    border: none;
    width: 100%;
    padding: 20px;
    padding-top: 8%;
    padding-left:20px;
    display: column;
     /* margin: 8px 0; */
}

.reg-box {
    border: none;
    width: 100%;
    padding: 20px;
    padding-top: 8%;
    padding-left:20px;
    display: column;
     /* margin: 8px 0; */
}

.login-form {
    width: 20%;
    padding: 20px;
    padding-left: 100px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: column;
    column-gap: 10px;
    /* box-sizing: border-box; */
    /* display: inline-block; */
}

.reg-form {
    width: 20%;
    padding: 20px;
    padding-left: 100px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: column;
    column-gap: 10px;
    /* box-sizing: border-box; */
    /* display: inline-block; */
}

.title-1 {
    display: inline;
}

.container {
    width: 80%;
    margin: auto;
}

/* directory form box */
.container-1 {
    font-size:large;
    background-color: rgb(233, 217, 217);
    color: #395558;
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    padding-top: 8%;
    margin: 20px;
    text-align: left; 
    width: 850%;
    display: column; 
    column-gap: 10px;
     /* flex-direction: column;  */
} 
.box-1 h3{
    font-family:Tahoma;
    font-weight: 800;
    font-style:italic;
    text-decoration:underline; 
    text-transform:uppercase;
    letter-spacing:0.2em;
    padding-top: 10%;
}

.box-1 {
    font-size:large;
    background-color: rgb(233, 217, 217);
    color: #395558;
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    margin: 20px;
    width: 200px;

}


.box-2 {
    background-color:  rgb(233, 217, 217);
    color: rgb(41, 31, 31);
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    margin: 20px;
    text-align:center;
}


.box-3 {
    background-color: rgb(233, 217, 217);
    color: #395558;
    border: 5px rgb(255, 145, 0);
    padding: 20px;
    margin: 20px;
    text-align: left; 
    display: flex; 
}



